DATABASE_URL=postgresql://postgres:password@localhost:5432/p2p_protocol
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_WS_URL=wss://api.devnet.solana.com
PROGRAM_ID=HazZUxenwxgxDumK5rt89mhXfffnVpA7Nyvx87kMts18
API_PORT=3001
